[Unit]
Description=Opendigitalradio DAB and DAB+ audio encoder (%I instance)
Documentation=https://github.com/Opendigitalradio/ODR-AudioEnc
Wants=network-online.target
After=network-online.target sound.target odr-padenc@%i.service

[Service]
# Use ALSA default input
Environment="AUDIOENC_INPUT_OPTS=--device=default"

# Encoder configuration
Environment="AUDIOENC_ENCODER_BITRATE=64"
Environment="AUDIOENC_ENCODER_CHANNELS=2"
Environment="AUDIOENC_ENCODER_SAMPLERATE=48000"

# ZMQ TCP output to localhost:9000
Environment="AUDIOENC_OUTPUT_OPTS=--output=tcp://localhost:9000"

# Any miscellaneous options to set
Environment="AUDIOENC_MISC_OPTS="


# Override example for JACK input
#Environment="AUDIOENC_INPUT_OPTS=--jack=myname"

# Override example for VLC input
#Environment="AUDIOENC_INPUT_OPTS=--vlc-uri=http://stream.example.com/mystream"

# Override example for file output
#Environment="AUDIOENC_OUTPUT_OPTS=--output=/var/tmp/myfile.dabp"

# Override example for PAD data via fifo
#Environment="AUDIOENC_MISC_OPTS=--pad=6 --pad-fifo=/var/tmp/odr/padenc/%i/pad.fifo"

Type=simple
ExecStart=/usr/bin/odr-audioenc \
              $AUDIOENC_INPUT_OPTS \
              --bitrate=${AUDIOENC_ENCODER_BITRATE} \
              --channels=${AUDIOENC_ENCODER_CHANNELS} \
              --rate=${AUDIOENC_ENCODER_SAMPLERATE} \
              $AUDIOENC_OUTPUT_OPTS \
              $AUDIOENC_MISC_OPTS

User=odr-audioenc
Group=odr

[Install]
WantedBy=multi-user.target
DefaultInstance=default
